<h1>Edit Companionship</h1>
<%= form_with(model: @companionship, local: true) do |form| %>
  <p>
    <%= form.label :label %><br>
    <%= form.text_field :label %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'cancel', controller: 'companionships' %>
