<h1>Companionship#index</h1>
<p>Find me in app/views/companionship/index.html.erb</p>



<table border="1">
  <tr>
    <th>Label</th>
    <th></th>
  </tr>

  <% @companionships.each do |companionship| %>
    <tr>
      <td class = 'label'><%= companionship.label %></td>
      <td class = 'show'><%= link_to 'Show', companionship_path(companionship) %></td>
      <td class = 'edit'><%= link_to 'Edit', companionship_path(companionship) %></td>
      <td class = 'delete'><%= link_to 'Delete', companionship_path(companionship),
                            method: :delete,
                            data: {confirm: 'Are you sure you want to delete this companionship? All associated appointments will also be delted'}
                            %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Companionship', new_companionship_path %>
