<h1>Companionships</h1>
  <div class="table">
    <table class = 'companionships-table'>
      <tr>
        <th>Companionship</th>
        <th></th>
      </tr>

      <% @companionships.each do |companionship| %>
        <tr>
          <td class = 'label'><%= companionship.label %></td>
          <td class = 'show'><%= link_to 'Show', companionship_path(companionship) %></td>
          <td><%=link_to 'Calendar view', calendar_path_url(companionship) %></td>
          <td class = 'edit'><%= link_to 'Edit', edit_companionship_path(companionship) %></td>
          <td class = 'delete'><%= link_to 'Delete', companionship_path(companionship),
                                method: :delete,
                                data: {confirm: 'Are you sure you want to delete this companionship? All associated appointments will also be deleted'}
                                %></td>
        </tr>
      <% end %>
    </table>
  </div>

<%= link_to 'New Companionship', new_companionship_path %>
