<h1>Companionship</h1>
<p>
  <%= @companionship.label %>
</p>

<%= link_to 'all companionships', controller: 'companionships' %>

<%= render '/appointments/form' %>

<h2>Current Appointments</h2>

<%= render '/appointments/appointment' %>

<%= link_to 'view all', controller: 'companionships' %>
