<h2>Forest Heights/Strathcona Missionary Meal Calendar</h2>
  <table class = 'companionships'>
    <% @companionships.each do |comp| %>
      <th  class="tab <%= 'active' if comp.id.to_s == params[:id] %>"><%= link_to "#{comp.label}", calendar_path_url(comp.id) %></th>
    <% end %>
  </table>



  <table class = 'calendar-table'>
    <tr class = 'weekdays'>
      <% @dates.take(7).each do |day| %>
          <td><%= day[:date].strftime("%A") %></td>
      <% end %>
    </tr>

    <% @weeks.times do |week| %>
      <tr>
        <% @dates.select { |h| h[:week_no] == week }.each do |day| %>
          <td class = 'calendar-cell'>
            <div class = 'dates'><%= day[:date].strftime("%b %-d") %> </div>

            <% if day[:family] %>
              <div class = 'appt-data family'><%= day[:family] %> </div>
              <div class = 'appt-data contact'><%= day[:contact_info] %> </div>
              <div class = 'appt-data other'><%= day[:other_info] %> </div>
            <% else %>
              <div class = 'appt-none'><%= link_to 'Sign Up', new_companionship_appointment_path(@companionship) %></div>
            <% end %>
            <!-- <div> Week Number:<%= day[:week_no] %></div>
            <div> Day Number:<%= day[:day_no] %></div> -->
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
