<table>
  <tr>
    <th>Date</th>
    <th>Family</th>
    <th>Contact info</th>
    <th>Other</th>
  </tr>
  <% @companionship.appointments.order(date: :asc).each do |appointment| %>
    <tr>
      <td>
        <%= appointment.date %>
      </td>
      <td>
        <%= link_to "#{appointment.family}",  edit_companionship_appointment_path(@companionship, appointment)  %>
      </td>
      <td>
        <%= appointment.contact_info %>
      </td>
      <td>
        <%= appointment.other_info %>
      </td>
      <td>
        <%# <%= raise params.inspect %>
        <%= link_to 'Edit', edit_companionship_appointment_path(@companionship, appointment) %>
      </td>
    </tr>
  <% end %>
