<h2>Add an appointment</h2>



<%= form_with(model: [ @companionship, @companionship.appointments.build ], local: true) do |form| %>

 <p>
   <%= form.label :date %><br>
   <%= form.text_field :date, value: Date.today%>
 </p>
 <p>
   <%= form.label :family %><br>
   <%= form.text_field :family %>
 </p>
 <p>
   <%= form.label :contact_info %><br>
   <%= form.text_field :contact_info %>
 </p>
 <p>
   <%= form.label :other_info %><br>
   <%= form.text_field :other_info %>
 </p>

 <p>
   <%= form.submit %>
 </p>
<% end %>
