<h1>New Appointment</h1>
<p>Create a new Appointment</p>


<%= form_with(model: [ @companionship, @companionship.appointments.build ], local: true) do |form| %>

 <p>
   <%= form.label :date %><br>
   <%= form.text_field :date, value: Date.today%>
 </p>
 <p>
   <%= form.label :family %><br>
   <%= form.text_field :body %>
 </p>
 <p>
   <%= form.label :contact_info %><br>
   <%= form.text_field :body %>
 </p>
 <p>
   <%= form.label :other_info %><br>
   <%= form.text_field :body %>
 </p>

 <p>
   <%= form.submit %>
 </p>
<% end %>
