<h1>Appointment</h1>
<p>
  <%= @appointment.id %>
</p>
<p>
  <%= @appointment.family %>
</p>
<p>
  <%= @appointment.id %>
</p>
<p>
  <%= @appointment.id %>
</p>

<table class = 'appointment-table'>
  <tr>
  </tr>
    <tr>
      <td class = 'companionship'><%= @appointment.companionship.label %></td>
      <td class = 'date'><%= @appointment.date %></td>
      <td class = 'family'><%= @appointment.family %></td>
      <td class = 'contact'><%= @appointment.contact_info %></td>
      <td class = 'other'><%= @appointment.other_info %></td>
</table>
